<meta charset="UTF-8">
<title>Chatbot</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/scss" href="/public/stylesheet/application.scss">
<script type='application/json' src="/assets/application.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<style>
  body { padding-top:50px; }
</style>
