<meta charset="UTF-8">
<title>Chatbot</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/scss" href="/public/stylesheet/application.scss">
<script type='application/json' src="/assets/application.js"></script>
<script type='application/json' src="/socket.io/socket.io.js"></script>

<style>
  body { padding-top:50px; }
</style>
