<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen">
  <div id="content" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
  </div>
  <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
    <div class="relative flex">
      <form action="/upload" enctype="multipart/form-data" method="POST" remote="true" class="form-upload">
        <input class="form-control" type="file" id="files" name="files" onchange="form.submit()" />
      </form>
      <input type="text" id="message" name="files" placeholder="Write your message!" class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-md py-3">
      <div class="absolute right-0 items-center inset-y-0 hidden sm:flex">
        <button type="button" id="sendMessage" class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none">
          <span class="font-bold">Send</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 ml-2 transform rotate-90">
            <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="card" id="chat2">
          <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h5 class="mb-0">Chat</h5>
          </div>
          <div id="chat" class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
            <ul id="messages"></ul>
          </div>
          <form action="/upload" enctype="multipart/form-data" method="POST" remote="true" class="form-upload">
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <input class="form-control" type="file" id="files" name="files" />
              <input type="text" class="form-control form-control-lg" id="messageInput" placeholder="Type message" autocomplete="off">
              <input type="submit" class="chat-submit" id="chat-submit" value="Send"></input>
              <button onclick="sendMessage()">Send</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section> -->
<script>
  const socket = io("http://localhost:8080");

  function sendMessage() {
    const messageInput = document.getElementById('messageInput');
    const message = messageInput.value.trim();
    if (message) {
      socket.emit('chatMessage', message);
      messageInput.value = '';
    }
  }

  socket.on('chatMessage', (message) => {
    const messages = document.getElementById('messages');
    const li = document.createElement('li');
    li.textContent = message;
    messages.appendChild(li);
  });
</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
