<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="card" id="chat2">
          <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h5 class="mb-0">Chat</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

          </div>
          <form action="/upload" enctype="multipart/form-data" method="POST" remote="true" class="form-upload">
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <input class="form-control" type="file" id="files" name="files" />
              <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                placeholder="Type message">
              <input type="submit" class="chat-submit" id="chat-submit" value="Send"></input>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</section>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
